
html {
  background: black;

  ::-webkit-scrollbar {
    display: none;
  }
}

$background-color_1: #fff;
.homepage, .editorials-body{
  $color_1: #FFF;
  $color_2: rgba(227, 227, 227, 0.78);

  box-sizing: border-box;
  outline: none;
  -webkit-tab-highlight-color: transparent;
  cursor: none;
  user-select: none;
  -webkit-user-drag: none;

}

h1, h2, h3, h4 {
  font-family: 'Tenor Sans', sans-serif;
}


.cursor {
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-color: $background-color_1;
  position: absolute;
  z-index: 999;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor-f {
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("/public/svgs/circle-cursor.svg");
  background-size: cover;
  mix-blend-mode: difference;
  pointer-events: none;
  opacity: 0.5;
}

