.homepage {
  $color_1: #FFF;
  $color_2: rgba(227, 227, 227, 0.78);
  $background-color_1: #fff;

  #main {
    display: flex;

    .col {
      flex: 1;

      .section {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        img {
          width: 100vw;
          height: 100vh;
          object-fit: cover;
          position: absolute;
          left: var(--x);
          pointer-events: none;
        }
      }
    }
  }

  h1 {
    font-weight: normal;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    color: $color_1;
    text-align: center;
    font-size: 3.6em;
    mix-blend-mode: overlay;
    pointer-events: none;
  }

  .content {
    width: 90%;
    color: $color_1;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 99;
    font-size: 0.8em;
    text-transform: uppercase;

    p {
      margin: 0.5em auto;
    }

    span {
      width: auto;
      height: auto;
      border: 1px solid #FFF;
      display: inline-block;
      border-radius: 3px;
      font-size: 0.9em;
      vertical-align: text-top;
      padding: 0px 10px;
    }

    a {
      color: $color_2;
      text-decoration: none;
      border-bottom: 1px solid currentColor;

      &:hover {
        padding-bottom: 1px;
      }
    }
  }

  .buttons {
    position: absolute;
    z-index: 99;
    height: 100vh;
    width: 100vw;

    button {
      border: none;
      background-size: contain;
      background-position: center;
      width: 60px;
      height: 60px;
      display: block;
      margin: 20px 0;
      padding: 0 15px;
      transition-duration: 0.6s;
    }

    button.next {
      transform: scaleY(-1);
      background: url(/public/svgs/arrow-left.png) no-repeat;

      &:active {
        transform: scaleY(-1) translateY(8px);
      }
    }

    button.prev {
      background: url(/public/svgs/arrow-right.png) no-repeat;

      &:active {
        transform: translateY(8px);
      }
    }
  }
}
