.description {
  position: absolute;
  top: 0;
  left: 33.333333vw;
  width: 66.666666vw;
  display: none;
  background: black;
  color: white;
  height: 100vh;


main {
  height: 80vh;

  h1 {
    font-size: 20vw;
    position: relative;
    bottom: 10vh;
    left: 1vw;
    font-family: Anton;
  }
}

footer {
  height: 20vh;
  display: flex;
  align-items: center;

  ul {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid white;


    li:first-child {
      font-family: Supreme;
      padding: 0 1vw;
    }

    li:nth-child(2), li:nth-child(3) {
      display: flex;
      font-family: Anton;
      font-size: 2.5vw;
      padding: 6.5vh 2vw;
      border-left: 1px solid white;

    }

    li:nth-child(2) {
      padding-right: 2vw;
      margin-left: 4.2vw;
    }
      li:nth-child(2):hover {
        color: #630A06;

      }

    li:nth-child(3) {
      padding-left: 3vw;
    }
  }
}
}
