@font-face {
  font-family: Anton;
  src: url(/public/font/Anton-Regular.ttf);
}

.editorials-body {
  height: 300vh;
}

.editorials-page {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  color: #630A06;


.wrapper {
  width: 100vw;
  height: 100vh;

}

.editorials {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
}


h1 {
  font-family: Anton;
  font-size: 11vw;
  position: absolute;
  z-index: 6;
  text-overflow: unset;
}


.card {
  position: relative;
  z-index: 9999;
  width: 400px;
  height: 400px;
  &:hover {
    filter: invert(100%);
  }

}

.one {
  transform: rotate(- 28deg);
  background-image: url("/public/images/sch/cover/autobahn.jpeg");
  position: fixed;
  background-size: cover;
  z-index: 6;
}

.two {
  transform: rotate(-21deg);
  background-image: url("/public/images/sch/cover/jvlivs2.png");
  position: fixed;
  z-index: 5;

}

.three {
  transform: rotate(-14deg);
  background-image: url("/public/images/sch/cover/rooftop.png");
  position: fixed;
  z-index: 4;

}

.four {
  transform: rotate(-7deg);
  background-image: url("/public/images/sch/cover/jvlivs.png");
  position: fixed;
  z-index: 3;
}

.five {
  transform: rotate(0deg);
  background-image: url("/public/images/sch/cover/deofavente.png");
  position: fixed;
  z-index: 2;

}

.six {
  transform: rotate(7deg);
  background-image: url("/public/images/sch/cover/anarchie.png");
  position: fixed;
  z-index: 2;

}

.side {
  position: absolute;
  width: 100vw;
  height: 100vh;
  color: white;

  .left {
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
    width: 5vw;
    position: absolute;
    height: 100vh;
    img {
       width: 100%;
        height: 5%;
        object-fit:cover;
    }

  }

  .right {
    border-inline: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 82%;
    height: 100vh;
    width: 15vw;
    position: relative;

    span {
      width: 100vw;
      font-size: 10vw;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: rotate(90deg);
      font-family: Anton;
    }
  }
}
}