:root {
  --rotate-circle: 0;
}

.home-body {
  overflow: hidden;

  .homepage {
    height: 200vh;

    .home-list {
      position: absolute;
      z-index: 10000;
      width: 100vw;
      height: 8.33vh;
      border-bottom: 1px solid white;
      border-top: 1px solid white;
      margin-top: 2vh;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        display: flex;
        align-items: center;
        width: 33.33%;
        font-family: Supreme;
        font-size: 1.2vw;
        padding: 0 1vw;
        color: white;
        height: 8.33vh;
        border-bottom: 1px solid white;
        border-top: 1px solid white;

        img {
          margin-top: 1vh;
        }

        li:nth-child(2) {
          margin-left: auto;
          margin-right: 2vw;
        }

        li:last-child {
        }
      }
    }

    .left-line {
      position: absolute;
      top: 50%;
      z-index: 10000;
      width: 12vw;
    }

    .right-line {
      position: absolute;
      top: 50%;
      right: 0%;
      z-index: 10000;
      width: 12vw;
    }


    .circle {
      position: absolute;
      z-index: 1000;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%) rotate(var(--rotate-circle));
      width: 33.33vw;
      height: 33.33vw;
    }

    .circle-content {
      position: absolute;
      z-index: 1000;
      top: 50%;
      left: 62%;
      transform: translate(-50%, -50%);

      img {
        &:active {
          transform: translateY(-3px);
        }
      }
    }

    .pair {
      border-inline: solid 1px white;
    }


    .odd {
      background: black;

      img {
        -webkit-filter: blur(10px);
        filter: blur(10px);
      }
    }


    .prev {
      position: absolute;
      right: 16.5vw;
      top: 45.40%;


    }

    .next {
      position: absolute;
      left: 16.5vw;
      top: 44.5%;

    }

    .core {
      position: absolute;
      z-index: 1000;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      ul {
        display: flex;
        align-items: center;
        width: 33.33vw;
        justify-content: space-around;
        color: white;
        font-family: "Milky Walky";

        li {
          transition: all 1s ease;
        }

        li:first-child {
          position: relative;
          font-size: 8vw;
          padding-right: 6vw;
        }

        li:last-child {
          display: none;
          font-size: 2.5vw;
          padding-right: 16vw;
        }
      }
    }
  }
}