
.tracklist-body {
  height: 100vh;
  width: 100vw;



main {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  h1 {
    font-size: 12vw;
    position: relative;
    left: 1vw;
    font-family: Anton;
    color: transparent;
    -webkit-text-stroke: 2px white;

  }
  ul {
    margin-bottom: 5vh;
    li {
        font-family: Supreme;
        font-size: 1.3vw;
        padding: 0.5vh 1vw;
      margin-left: 14vw;
    }
  }

}

.wrap {
  display: flex;
  .left, .right {
    width: 50vw;
    height: 100vh;
  }
}

.left {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

}